{% extends 'layout.html' %}
{% block content %}
{% include 'nav.html' %}

    <div class="row comments-row justify-content-center align-center p-5 mt-4">
        <div class="col-md-5">
           <div>
            <img src="{{posts.image.url}}" class="img-fluid c-img" alt="">
           </div>
        </div>
        <!-- Comments -->
        <div class="col-md-4">
            <!-- Comments Display -->
            <div class="container c-height">
                <p class="fst-italic h4 text-center">Comments</p>

                {% for comment in all_comments %}
                    <p class="lead p-2">{{comment.comments}} <span class="text-muted mx-3"  >~ {{comment.user.username}}</span></p>
                    
                {% endfor %}
            </div>
            <!-- Input of new Comment -->
            <div class="container">
                <form method="POST" enctype="multipart/form-data">

                    {%csrf_token%}
                    
                    <div class=" d-flex justify-content-center align-items-center">
                        {{form }}
                

                        <input type="submit" class="btn btn-primary w-25  " value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

