{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
{% include "nav.html" %}
<div class="container mt-1 mb-4 scroll ">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            
            <div class="card" >
                <a href="{%url 'details' post.id%}"><img class="card-img-top img-fluid img-responsive" src="{{post.image.url}}" alt="Card image cap">
                </a>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}