{% extends 'layout.html' %}
{% block content %}

{% include 'nav.html' %}
<div class="container">
    <div class="container px-2 row justify-content-center">
        <div class="col-md-8 py-5 mx-5 mb-5 border-bottom d-flex justify-content-evenly align-items-start">
            <div class="img-div mx-0">
                <img src="/static/han.png" alt="" class="img-resp">
            </div>
            <div>
                <div class="d-flex align-items-center justify-content-start">
                    <p class="h2 me-3">Hanan Hussein</p>
                    <div class="btn btn-outline btn-sm">Edit Profile</div>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between">
                    <p class="lead"><strong>4</strong> posts</p>
                    <p class="lead"><strong>7</strong> followers</p>
                    <p class="lead"><strong>8</strong> following</p>
                </div>
                <div>
                    <p class="lead">
                        My bio is here
                    </p>
                </div>
            </div>
        </div>
        <!-- Below Profile -->
        <div class="container px-2">
            <!-- its nav -->
            <div class="container border-top ">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}