{% extends 'layout.html' %}
{% block content %}
{%load static%}
<div class="container login">

    <div class="row  d-flex justify-content-center align-items-center" style="height:100vh">
        <div class="col-md-6  d-flex justify-content-center align-items-center">
            <img src="{% static "phone.svg" %}" class="img-fluid h-100" alt="">
        </div>
        <div class="col-md-4">
            <div class="container bg-white border m-2 py-5 px-3">
                
                <div class="container d-flex justify-content-center align-items-center">
                    <strong>
                        <p class="insta h1 text-center my-2"> HJ Instagram</p>
                    </strong>
                </div>
                <!-- <p class="insta h1 text-center" >Instagram</p> -->


                <form action="" method="post">
                    {%csrf_token%}
                    <div class="container text-center d-flex flex-column justify-content-center align-items-center">

                        {{form}}

                        <input type="submit" class="btn btn-primary w-75 mt-2 " value="Submit">
                    </div>

                </form>
            </div>

            <div class="container bg-white p-3 m-2 border ">
                <p class="text-center">Create a new account, <a href="{%url 'register'%}">Register</a> instead.</p>

            </div>
        </div>
    </div>

</div>
{% endblock content %}