{% extends 'layout.html' %}
{% block content %}

<div class="row  d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="col-md-6">
    </div>
    <div class="col-md-4">
        <form action="" method="post">
            {%csrf_token%}
            <table>
                {{form}}
            </table>
            <input type="submit" value="Submit">
        </form>
        <p class="text-center">Create a new account, <a href="{%url 'register'%}">Register</a> instead.</p>
    </div>
</div>

{% endblock content %}