{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block content %}
   
   
    <div class=" ">
        <div class="d-flex justify-content-center align-content-center ">
          <div class="register p-4">
              <strong>
                  <p class="insta h1 text-center" >Instagram</p>
              </strong>
            <form method='post' >
                {%csrf_token%}
                {% bootstrap_form register_form layout='inline' %}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
          </div>
            
        </div>
    </div>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>

{% endblock %}